<div class="row">
  <div class="col-md-8">
    <nb-card size="large">
      <nb-card-header>
        Chat (5554999958468) <a routerLink="/pages/number/my">Change</a>
      </nb-card-header>
      <nb-card-body>

        <nb-chat scrollBottom="true">
          <nb-chat-message *ngFor="let msg of messages" [type]="msg.type" [message]="msg.text" [reply]="msg.reply"
            [sender]="msg.user.name" [date]="msg.date" [files]="msg.files" [quote]="msg.quote" [latitude]="msg.latitude"
            [longitude]="msg.longitude" [avatar]="msg.user.avatar">
          </nb-chat-message>

          <nb-chat-form (send)="sendMessage($event)">
          </nb-chat-form>
        </nb-chat>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card size="large">
      <nb-card-header>
        Contacts
      </nb-card-header>
      <nb-card-body class="p-0">
        <contact-list></contact-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>