<div class="row">
    <div class="col-lg-8">
        <nb-card>
            <nb-card-header>
                <span>Campaigns</span>
            </nb-card-header>
            <nb-card-body class="p-0">
                <nb-actions size="large">
                    <nb-action class="pl-0">
                        <button nbButton ghost routerLink="new">
                            <nb-icon icon="plus-circle"></nb-icon>
                            <span class="ml-2">Create New</span>
                        </button>
                    </nb-action>
                </nb-actions>
                <nb-list>
                    <nb-list-item>
                        Test
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
</div>