<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Send Message</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="number" class="label">Phone Number</label>
            <input type="tel" nbInput fullWidth id="number" placeholder="11 1234-56789">
          </div>
          <div class="form-group">
            <label for="messageText" class="label">Message</label>
            <br>
            <textarea nbInput id="messageText" style="max-width: none !important; width: 100%;"></textarea>
          </div>
          <button type="submit" nbButton status="success">Send</button>
          <button class="ml-2" nbButton status="danger" routerLink="/pages/single_message">Cancel</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>