<div *ngIf="status" class="m-3">
  <div class="mt-3">
    <div class="d-flex">
      <div class="d-flex m-auto">
        <h5>Status: <span [class.blink]="true==true" class="text-primary">{{status?.channelStatus}}</span></h5>
        <!-- <h5 class="ml-4 text-hint" nbTooltip="People watching now">
          <nb-icon icon="users"></nb-icon> <span class="ml-2">5</span>
        </h5> -->
      </div>
    </div>
  </div>
  <div class="mt-2">
    <div class="row">
      <div class="col-md-6">
        <div>
          <strong>Playing Now: </strong><span *ngIf="status.currentMediaTitle">{{status.currentMediaTitle}}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <strong>Next Media: </strong><span *ngIf="status.nextMediaTitle">{{status.nextMediaTitle}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <div class="row">
      <div class="col-md-6">
        <img *ngIf="status.currentMediaId" class="img-fluid mx-auto d-block"
          [src]="'https://img.youtube.com/vi/'+status.currentMediaId+'/hqdefault.jpg'">
      </div>
      <div class="col-md-6">
        <img *ngIf="status.nextMediaId" class="img-fluid mx-auto d-block"
          [src]="'https://img.youtube.com/vi/'+status.nextMediaId+'/hqdefault.jpg'">
      </div>
    </div>
  </div>
  <div class="mt-2">
    <div>
      <h5>Remaining Time: <countdown [config]="{leftTime: remainingTime}"></countdown>
      </h5>
    </div>
  </div>
  <div class="mt-4">
    <div>
      <h5>Statistics</h5>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th class="text-nowrap" scope="row">Media in playlist</th>
          <td><span *ngIf="status.mediaCountInPlaylist">{{status.mediaCountInPlaylist}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-6">
      <button nbButton status="success" class="w-100">Start</button>
    </div>
    <div class="col-6">
      <button nbButton status="danger" class="w-100">Stop</button>
    </div>
  </div>
</div>