<nb-auth-block>
  <h2 class="title">Cadastro</h2>
  <form (ngSubmit)="register()" #form="ngForm">
    <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
      <div><strong>Ops!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
      <div><strong>Sucesso!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>
    <div class="form-group">
      <label for="input-name" class="sr-only">Nome completo</label>
      <input name="fullName" [(ngModel)]="user.fullName" id="input-name" #fullName="ngModel"
             class="form-control" placeholder="Nome completo"
             [class.form-control-danger]="fullName.invalid && fullName.touched"
             [required]="validation.fullName.required"
             [minlength]="validation.fullName.minLength"
             [maxlength]="validation.fullName.maxLength"
             autofocus>
      <small class="form-text error" *ngIf="fullName.invalid && fullName.touched && fullName.errors?.required">
        É necessário preencher seu nome completo!
      </small>
      <small
        class="form-text error"
        *ngIf="fullName.invalid && fullName.touched && (fullName.errors?.minlength || fullName.errors?.maxlength)">
        O nome completo deve ter
        de {{validation.fullName.minLength}}
        a {{validation.fullName.maxLength}}
        caracteres
      </small>
    </div>
    <div class="form-group">
      <label for="input-email" class="sr-only">Endereço de email</label>
      <input name="email" [(ngModel)]="user.email" id="input-email" #email="ngModel"
             class="form-control" placeholder="Endereço de email" pattern=".+@.+\..+"
             [class.form-control-danger]="email.invalid && email.touched"
             [required]="validation.email.required">
      <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
        É necessário preencher o endereço de email
      </small>
      <small class="form-text error"
             *ngIf="email.invalid && email.touched && email.errors?.pattern">
        Endereço de email inválido!
      </small>
    </div>
    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
             class="form-control" placeholder="Senha" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.touched"
             [required]="validation.password.required"
             [minlength]="validation.password.minLength"
             [maxlength]="validation.password.maxLength">
      <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
        É necessário preencher a senha!
      </small>
      <small
        class="form-text error"
        *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
        A senha deve conter
        de {{ validation.password.minLength }}
        a {{ validation.password.maxLength }}
        caracteres
      </small>
    </div>
    <div class="form-group">
      <label for="input-re-password" class="sr-only">Senha novamente</label>
      <input
        name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password"
        class="form-control" placeholder="Senha novamente" #rePass="ngModel"
        [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched"
        [required]="validation.password.required">
      <small class="form-text error"
             *ngIf="rePass.invalid && rePass.touched && rePass.errors?.required">
        É necessário preencher a senha novamente!
      </small>
      <small
        class="form-text error"
        *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
        As senhas digitadas são diferentes!
      </small>
    </div>
    <div class="form-group accept-group col-sm-12" *ngIf="getConfigValue('forms.register.terms')">
      <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
        Aceito os <a href="#" target="_blank"><strong>Termos & condições</strong></a>
      </nb-checkbox>
    </div>
    <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
            [class.btn-pulse]="submitted">
      Cadastrar
    </button>
  </form>
  <div class="links">
    <ng-container *ngIf="socialLinks && socialLinks.length > 0">
      <small class="form-text">Ou conecte-se com:</small>
      <div class="socials">
        <ng-container *ngFor="let socialLink of socialLinks">
        <a (click)="loginSocial(socialLink.name)"
              [attr.class]="socialLink.icon"
              [class.with-icon]="socialLink.icon" style="cursor: pointer;">{{ socialLink.title }}</a>
        </ng-container>
      </div>
    </ng-container>
    <small class="form-text">
      Já possui uma conta? <a routerLink="../login"><strong>Fazer login</strong></a>
    </small>
  </div>
</nb-auth-block>