<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-md-6">
        <nb-card>
          <nb-card-header>
            Wallet
          </nb-card-header>
          <nb-card-body>
            <h6>Current balance:</h6>
            <h2>10.00 credits</h2>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Buy Credits
      </nb-card-header>
      <nb-card-body>
        <h6>Buy:</h6>
        <h2>5.00 credits</h2>
        <h6>Price:</h6>
        <h3>R$5,00</h3>
        <div id="paypal-button-container-5"></div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Buy Credits
      </nb-card-header>
      <nb-card-body>
        <h6>Buy:</h6>
        <h2>25.00 credits</h2>
        <h6>Price:</h6>
        <h3>R$20,00</h3>
        <div id="paypal-button-container-20"></div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Buy Credits
      </nb-card-header>
      <nb-card-body>
        <h6>Buy:</h6>
        <h2>70.00 credits</h2>
        <h6>Price:</h6>
        <h3>R$50,00</h3>
        <div id="paypal-button-container-50"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>