<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-md-6">
        <nb-card>
          <nb-card-header>
            Carteira
          </nb-card-header>
          <nb-card-body>
            <h6 i18n>Saldo Atual:</h6>
            <h2>{{Balance}} Créditos</h2>

            <button [disabled]="Updating" class="btn btn-primary" (click)="Update()">Atualizar</button>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <nb-card status="success" [accent]="optionSelected == 0 ? 'info' : ''">
      <nb-card-header>
        Básico
      </nb-card-header>
      <nb-card-body>
        <ul class="mt-2">
          <li><b>Campanhas de envio <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Painel com status em tempo real <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Números virtuais <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Números online 24/7 <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Chat de suporte <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Reembolso em caso de problemas <nb-icon class="text-success ml-2" icon="check">
              </nb-icon></b></li>
        </ul>
        <div class="d-flex">
          <h4 class="text-secondary mx-auto my-2">15 Créditos</h4>
        </div>
        <div class="d-flex bottom-row">
          <div class="color bg-status-success mt-3" style="background: none;"><span
              class="text-white m-auto discount"><b>&nbsp;</b></span>
          </div>
          <div>
            <div class="price mt-4">R$ 15,00</div>
            <div class="old-price"></div>
          </div>
        </div>
        <button nbButton status="primary" class="mt-3" (click)="SelectOption(0)" [disabled]="optionSelected == 0"
          fullWidth>{{optionSelected == 0 ? 'Selecionado' : 'Selecionar'}}</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card status="warning" [accent]="optionSelected == 1 ? 'info' : ''">
      <nb-card-header>
        Premium
      </nb-card-header>
      <nb-card-body>
        <ul class="mt-2">
          <li><b>Campanhas de envio <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Painel com status em tempo real <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Números virtuais <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Números online 24/7 <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Chat de suporte <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Reembolso em caso de problemas <nb-icon class="text-success ml-2" icon="check">
              </nb-icon></b></li>
        </ul>
        <div class="d-flex">
          <h4 class="text-secondary mx-auto my-2">150 Créditos</h4>
        </div>
        <div class="d-flex bottom-row">
          <div class="color bg-status-success mt-3"><span class="text-white m-auto discount"><b>5%
                OFF</b></span>
          </div>
          <div>
            <div class="price mt-4">R$ 142,50</div>
            <div class="old-price">R$ 150,00</div>
          </div>
        </div>
        <button nbButton status="primary" class="mt-3" (click)="SelectOption(1)" [disabled]="optionSelected == 1"
          fullWidth>{{optionSelected == 1 ? 'Selecionado' : 'Selecionar'}}</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card status="danger" [accent]="optionSelected == 2 ? 'info' : ''">
      <nb-card-header>
        Business
      </nb-card-header>
      <nb-card-body>
        <ul class="mt-2">
          <li><b>Campanhas de envio <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Painel com status em tempo real <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Números virtuais <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Números online 24/7 <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Chat de suporte <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
          <hr>
          <li><b>Reembolso em caso de problemas <nb-icon class="text-success ml-2" icon="check">
              </nb-icon></b></li>
        </ul>
        <div class="d-flex">
          <h4 class="text-secondary mx-auto my-2">1500 Créditos</h4>
        </div>
        <div class="d-flex bottom-row">
          <div class="color bg-status-success mt-3"><span class="text-white m-auto discount"><b>10%
                OFF</b></span>
          </div>
          <div>
            <div class="price mt-4">R$ 1350,00</div>
            <div class="old-price">R$ 1500,00</div>
          </div>
        </div>
        <button nbButton status="primary" class="mt-3" (click)="SelectOption(2)" [disabled]="optionSelected == 2"
          fullWidth>{{optionSelected == 2 ? 'Selecionado' : 'Selecionar'}}</button>
      </nb-card-body>
    </nb-card>
  </div>





  <div class="col-md-6" *ngIf="Order">
    <nb-card>
      <nb-card-header>
        Pedido
      </nb-card-header>
      <nb-card-body>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{Order.itemName}}</td>
              <td>{{Order.itemAmount}}x</td>
              <td><span class="text-success">{{Order.itemTotal | currency:'R$'}}</span></td>
            </tr>
            <tr *ngIf="Order.couponCode">
              <th scope="row">Cupom</th>
              <td colspan="2">{{Order.couponCode}}</td>
              <td><span class="text-danger">-{{Order.couponDiscount | currency:'R$'}}</span></td>
            </tr>
            <tr>
              <th scope="row" colspan="3">Total</th>

              <th>{{Order.orderTotal | currency:'R$'}}</th>
            </tr>
          </tbody>
        </table>
        <div *ngIf="Order.couponCode">
          <button nbButton shape="round" size="small" status="danger" (click)="RemoveCoupon()">Remover Cupom</button>
        </div>
        <div class="d-flex" *ngIf="!Order.couponCode">
          <input #couponInput class="mr-3" nbInput fullWidth placeholder="Cupom" style="min-width: 100px;" />
          <button class="ml-auto" nbButton (click)="ApplyCoupon(couponInput.value)">Aplicar</button>
        </div>
        <div class="mt-3" id="paypal-button-container-5"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>