<div *ngIf="data">
    <div class="thumb-container">
        <img [routerLink]="data.link" class="thumb" [src]="data.mainPictureUrl">
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row black-legend">
                <div class="col-6 pl-0">
                    <div *ngIf="data.users">
                        <i class="far fa-user"></i>
                        <span class="ml-1">{{data.users | number}}</span>
                    </div>
                </div>
                <div class="col-6 text-right pr-0">
                    <div *ngIf="data.hearts">
                        <span class="mr-1">{{data.hearts | number}}</span>
                        <i class="far fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 description-block">
            <div class="d-flex">
                <div *ngIf="data.secondaryPictureUrl">
                    <img class="legend-image" [src]="data.secondaryPictureUrl">
                </div>
                <div [class.ml-2]="data.secondaryPictureUrl">
                    <span class="primary-description text">{{data.primaryDescription}}</span>
                    <span class="secondary-description text text-secondary">{{data.secondaryDescription}}</span>
                </div>
            </div>
        </div>

    </div>
</div>