<div class="thumb-container">
    <img class="thumb" src="https://img.youtube.com/vi/HqqrcuBUMSY/hqdefault.jpg">
</div>
<div class="row">
    <div class="col-12">
        <div class="row black-legend">
            <div class="col-6 pl-0">
                <i class="far fa-user"></i>
                <span class="ml-1">123.456</span>
            </div>
            <div class="col-6 text-right pr-0">
                <span class="mr-1">123.456</span>
                <i class="far fa-heart"></i>
            </div>
        </div>
    </div>
    <div class="col-12 description-block">
        <div class="d-flex">
            <div>
                <img class="legend-image" src="https://img.youtube.com/vi/HqqrcuBUMSY/hqdefault.jpg">
            </div>
            <div class="ml-2">
                <span class="primary-description text">Mix - Panic! At The Disco - High Hopes (Don Diablo Remix)</span>
                <span class="secondary-description text text-secondary">Mix - Panic! At The Disco - High Hopes (Don Diablo Remix)</span>
            </div>
        </div>
    </div>

</div>