<nb-card [ngClass]="{'off': !on}">
  <div class="icon-container" [ngClass]="{'blink': actionPending}">
    <div class="icon {{ type }}">
      <i class="fa" [ngClass]="on ? 'fa-check' : 'fa-times'"></i>
    </div>
  </div>
  <div class="details">
    <div class="title">{{ on ? 'Playing' : 'Stopped' }}</div>
    <div class="status">Status</div>
  </div>
  <div class="actions ml-auto mr-3">
    <button (click)="switch()" [disabled]="actionPending" class="btn"
      [ngClass]="on ? 'btn-danger' : 'btn-success'">{{ on ? 'Stop' : 'Start'}}</button>
  </div>
</nb-card>