<div class="row">
    <div class="col-md-6">
        <nb-card *ngIf="currentStatus=='Pending'">
            <nb-card-header>
                Assinatura
            </nb-card-header>
            <nb-card-body>
                <h6>Situação Atual: Aguardando Pagamento</h6>
                <p>Estamos aguardando a confirmação do seu pagamento. <br> Caso ainda não tenha pago, tente novamente.
                </p>
                <button nbButton (click)="paySubscription()">Pagar</button>
                <button class="ml-2" nbButton (click)="cancelSubscription()">Cancelar</button>
            </nb-card-body>
        </nb-card>

        <nb-card *ngIf="currentStatus=='Active'">
            <nb-card-header>
                Assinatura
            </nb-card-header>
            <nb-card-body>
                <h6>Situação Atual: Ativa</h6>
                <p>A sua assinatura está ativa.</p>
                <button nbButton (click)="cancelSubscription()">Cancelar</button>
            </nb-card-body>
        </nb-card>

        <nb-card *ngIf="currentStatus=='Inactive'">
            <nb-card-body>
                <div class="d-flex">
                    <div class="col d-flex">
                        <h6 class="my-auto">Você não possui nenhuma assinatura</h6>
                    </div>
                    <div class="col-auto"><button nbButton routerLink="/pages/subscription/plans" status="danger">Assinar</button></div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>