<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Assinatura
            </nb-card-header>
            <nb-card-body>
                Teste
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <div class="d-flex">
                    <div class="col d-flex">
                        <h6 class="my-auto">Seu teste grátis expirou</h6>
                    </div>
                    <div class="col-auto"><button nbButton status="danger">Assinar</button></div>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <div class="d-flex">
                    <div class="col d-flex">
                        <h6 class="my-auto">Você já possui uma assinatura</h6>
                    </div>
                    <div class="col-auto"><button nbButton>Verificar</button></div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>