<nb-list nbInfiniteList listenWindowScroll [threshold]="5" (bottomThreshold)="loadNext()">
  <nb-list-item *ngFor="let channel of Channels">
    <div class="row" [routerLink]="'/pages/channel/'+channel.id">
      <div class="col-auto my-auto">
        <nb-icon icon="play-circle" status="success"></nb-icon>
      </div>
      <div class="col-auto">
        <h6 class="mb-0">{{channel.name}}</h6>
      </div>
      <div *ngIf="showDashboardOption" class="col-auto ml-auto">
        <nb-actions size="small">
          <nb-action [link]="'/pages/dashboard/'+channel.id" nbTooltip="Dashboard" icon="cog"></nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-list-item>
</nb-list>