<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Create Channel</nb-card-header>
            <nb-card-body>
                <form #dataForm="ngForm" (ngSubmit)="OnSubmit(dataForm.value)">
                    <div class="form-group">
                        <label for="title" class="label">Channel Title</label>
                        <input type="text" nbInput fullWidth id="title" name="channelTitle" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="channelDescription" class="label">Channel Description</label>
                        <br>
                        <textarea nbInput id="channelDescription"
                            style="max-width: none !important; width: 100%; height: 100px;" name="channelDescription"
                            ngModel></textarea>
                    </div>
                    <button type="submit" nbButton status="success">Save</button>
                    <button class="ml-2" nbButton status="danger" routerLink="/pages/channel">Cancel</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>