.video-js {
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
}

.video-container {
    width: 500px;
    height: 500px;
    background-color: #e7070740;
    margin: auto;
}

.full-container {
    background: #000000c9;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.background-cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 48, 50, 1) 73%);
    background-image: url("https://img.youtube.com/vi/Mgfe5tIwOj0/hqdefault.jpg");
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-position: center;
}
