<div class="full-container">
    <div class="frame-container col-sm-12 col-md-10 col-lg-6">
        <div class="d-flex">
            <div>
                <span class="text-white h6">Channel Title Big Name</span>
                <br>
                <a href="https://www.youtube.com/watch?v=KWjV25q34Hw" target="_blank" class="text-secondary"><u>Meduza,
                        Goodboys - Piece
                        Of Your Heart (Visualizer) ft.
                        Goodboys</u></a>
            </div>
            <div class="ml-auto mt-auto">
                <span class="text-white"><i class="fa fa-users"></i> 312</span>
            </div>
        </div>
        <div class="video-container interaction-disabled">
            <video #myvid id="my-video" class="video-js vjs-big-play-centered mini-play" style="margin: auto;">
            </video>
        </div>
        <div class="controls d-flex">
            <div class="d-flex my-auto">
                <div class="pulsating-circle"></div>
                <span class="text-white">Live</span>
            </div>
            <div class="addthis_inline_share_toolbox ml-auto"></div>
        </div>
    </div>
</div>
<div class="background-cover">
</div>
<nb-layout style="display: none"></nb-layout>