<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>
        <span>Meus Números</span>
      </nb-card-header>
      <nb-card-body class="p-0">
        <nb-actions size="large">
          <nb-action class="pl-0">
            <button nbButton ghost routerLink="new">
              <nb-icon icon="plus-circle"></nb-icon>
              <span class="ml-2" routerLink="/pages/number/connector">Adicionar Meu Número</span>
            </button>
          </nb-action>
        </nb-actions>
        <nb-list>
          <nb-list-item *ngFor="let number of numbers" class="d-flex">
            <nb-actions size="medium" class="w-100">
              <nb-action>
                {{number.number}}
              </nb-action>
              <nb-action *ngIf="number.isConnected">
                Conectado
              </nb-action>
              <nb-action *ngIf="!number.isConnected">
                Desconectado
              </nb-action>
            </nb-actions>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>