<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>
        <span>My Numbers</span>
      </nb-card-header>
      <nb-card-body class="p-0">
        <nb-actions size="large">
          <nb-action class="pl-0">
            <button nbButton ghost routerLink="new">
              <nb-icon icon="plus-circle"></nb-icon>
              <span class="ml-2" routerLink="/pages/number/buy">Buy New</span>
            </button>
          </nb-action>
        </nb-actions>
        <nb-list>
          <nb-list-item *ngFor="let number of numbers" class="d-flex">
              <nb-actions size="medium" class="w-100">
                  <nb-action icon="comments" link="/pages/chat"></nb-action>
                  <nb-action>
                    {{number.numberId}}
                  </nb-action>
                  <nb-action class="ml-auto" icon="cog"></nb-action>
                  <nb-action icon="trash" (click)="DeleteNumber(number.numberId)"></nb-action>
                </nb-actions>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>