<div class="row">
    <div class="col-md-6">
        <nb-card [nbSpinner]="updating" nbSpinnerStatus="primary">
            <nb-card-body>
                <nb-stepper #stepper disableStepNavigation>
                    <nb-step>
                        <h6>Adicionar seu próprio número</h6>
                        <ul>
                            <li>Você pode adicionar o seu próprio número para utilizar dentro da plataforma!</li>
                            <li>Enviaremos um código SMS para a confirmação, basta inserir na página e pronto.</li>
                            <li>Se você já possuir uma conta do WhatsApp neste número em um celular, ela ficará
                                pausada
                                no celular enquanto você usar o número no Hotsapp.</li>
                            <li>As conversas anteriores permanecerão no celular e você poderá voltar a utilizar o
                                número
                                novamente no celular a qualquer momento.</li>
                            <li>Após finalizar, não é necessário manter o celular conectado.</li>
                        </ul>
                        <button nbButton class="mt-2" (click)="sendFirst()">Continuar</button>
                    </nb-step>
                    <nb-step>
                        <p class="lorem">
                            Digite o código do país (utilize 55 para Brasil)
                        </p>
                        <div class="input-group">
                            <input nbInput type="number" placeholder="55" style="max-width: 5rem;"
                                [(ngModel)]="countryCode">
                        </div>
                        <p class="lorem">
                            Digite o código de área do número (ex: 11 para São Paulo)
                        </p>
                        <div class="input-group">
                            <input nbInput type="number" placeholder="11" style="max-width: 5rem;"
                                [(ngModel)]="areaCode">
                        </div>
                        <p class="lorem">
                            Digite o número de telefone
                        </p>
                        <div class="input-group">
                            <input nbInput type="tel" placeholder="12345-6789" [(ngModel)]="phoneNumber">
                        </div>
                        <button nbButton class="mt-2" (click)="startFlow()">Continuar</button>
                    </nb-step>
                    <nb-step>
                        <p class="lorem">
                            Enviamos um código SMS para o número informado, quando receber digite-o abaixo.
                        </p>
                        <div class="input-group">
                            <input nbInput type="text" placeholder="1234560" [(ngModel)]="confirmCode">
                        </div>
                        <button nbButton class="mt-2" (click)="sendConfirmCode()">Continuar</button>
                    </nb-step>
                    <nb-step>
                        <p class="lorem">
                            Por favor, aguarde.
                            <br>Estamos validando o código informado...
                        </p>
                    </nb-step>
                    <nb-step>
                        <div [hidden]="!isSuccess" class="step-container">
                            <h3>Número adicionado com sucesso!</h3>
                            <button nbButton (click)="finish()">Concluir</button>
                        </div>
                        <div [hidden]="!errorMessage" class="step-container">
                            <h3>Houve um erro na confirmação</h3>
                            <p>Não está conseguindo adicionar seu número? Entre em contato conosco.</p>
                            <button nbButton (click)="reset()">Tentar Novamente</button>
                        </div>
                    </nb-step>
                </nb-stepper>
            </nb-card-body>
        </nb-card>
    </div>
</div>