<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Planos
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="isSubscriberCard">
                    <div class="d-flex">
                        <div class="col d-flex">
                            <h6 class="my-auto">Você já possui uma assinatura</h6>
                        </div>
                        <div class="col-auto"><button nbButton routerLink="/pages/subscription">Verificar</button></div>
                    </div>
                </div>

                <div *ngIf="plansCard">
                    <h3>Mensal</h3>
                    <ul class="mt-4">
                        <li><b>Chat <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                        <hr>
                        <li><b>Contatos <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                        <hr>
                        <li><b>Número online 24/7 <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                        <hr>
                        <li><b>Prioridade no suporte <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                        <hr>
                        <li><b>Até 1 número virtual <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                        <hr>
                        <li><b>Cancele a qualquer momento sem taxas <nb-icon class="text-success ml-2" icon="check">
                                </nb-icon></b></li>
                    </ul>
                    <div class="d-flex bottom-row">
                        <div class="color bg-status-success mt-3"><span class="text-white m-auto discount"><b>50%
                                    OFF</b>
                                <br>
                                <b style="font-size: 12px;">*Por tempo limitado</b></span>
                        </div>
                        <div>
                            <div class="price mt-4">R$ 39,90</div>
                            <div class="old-price">R$ 79,80</div>
                        </div>
                    </div>
                    <div id="paypal-button-container" class="mt-4"></div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>