<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Planos
            </nb-card-header>
            <nb-card-body>
                <h3>Mensal</h3>
                <ul class="mt-4">
                    <li><b>Chat <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                    <hr>
                    <li><b>Contatos <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                    <hr>
                    <li><b>Número online 24/7 <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                    <hr>
                    <li><b>Prioridade no suporte <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                    <hr>
                    <li><b>Até 1 número virtual <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                    <hr>
                    <li><b>Cancele a qualquer momento sem taxas <nb-icon class="text-success ml-2" icon="check"></nb-icon></b></li>
                </ul>
                <div class="d-flex bottom-row">
                    <div class="color bg-status-success mt-3"><span class="text-white m-auto discount"><b>50%
                                OFF</b></span>
                    </div>
                    <div class="price">R$ 54,80</div>
                </div>
                <div id="paypal-button-container-5" class="mt-4"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>