<nb-list>
    <!-- <nb-list-item>
        <nb-actions>
            <nb-action>
                Nome:
            </nb-action>
            <nb-action>
                João Carlos
            </nb-action>
        </nb-actions>
    </nb-list-item> -->
    <nb-list-item>
        <nb-actions>
            <nb-action icon="check" nbTooltip="Finalizar" (click)="clickCloseChat()"></nb-action>
            <!-- <nb-action icon="random" nbTooltip="Encaminhar" (click)="clickAddContact()"></nb-action> -->
            <nb-action>
                Finalizar
            </nb-action>
        </nb-actions>
    </nb-list-item>
</nb-list>